.rdm-link {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADFSURBVDhP7dK/CkFhHMbxFymDDCxmA4tJlMtwH0aD0eYW3ADlBiwGJbdgYKJkkBhEKMX30Xt0nLzOavDUp/c9v94/v3M65h8TsWMwGZSRRxYzjLBGaKq4O9Txlk8dRDHADVMkcULT1uJ4JWZHf3RTD9p8xBV7pJBDHzs4oxu7CLbvKeJrJtDCDXRQC+rojNADCtCiLRIq2FSg1wg9QB/1Ai0cooOxffaoswacqWEB/6YlDnauTtp4xvUjKSWkMcdKhV+MMQ9QKjpiFjKLiAAAAABJRU5ErkJggg==');
}

.rdm-spoiler {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACrSURBVDhP7ZIxDkFBFEWHhB1IFEjsgFqnsxREYh02IBagV6s0lqCWoNCoVCg4897P/Pe/twJxkpO5N5m8mUkm/HEZ4VpjoocL7EozVLPVssSjxsQZ+ziRZvAGVHClMXHDLXakGcoDhhg3vaQViYMH6B2a2OFGo8sBxxp96vjAtrQic7xozClf54lXjV/UcK8xx3vPG6caEw1s4UmawRswy1ZLE+8Y/8JvEcIH0wcVC9RTJtUAAAAASUVORK5CYII=');
}

.rdm-color {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAE4SURBVDhP7VGxSsRAFJwNUa+5ThtBBE+DjViIcAja6AdY+gs2HhZWIksulZViKXi1lZWllYXNoaVg0pwiWKrNISfkObv3lEBib+HAMruzM29fXvAPGOVKzFlsQLBoAoQiyLIYF9EBltMEXbVUF6BpXQIc8XJBpSEEORNB/QWjt6f4dFLgLwqYt4houvRhwTl5W4BDrq4LO09/ApPeTITKP8gFlsYaA62sjROVPSKLa9JqP8T7UKnoQAyWHI8AHS8UIDn2mdh8jPGmUnkGHFyP4jRbG7uPMVD5V5Q6YPjOMSe044UC+AnjXB0+sqZSuYNZiyar3nBrOMQrzuKJ+w+eGuQVBur8pcecz67zlwo48IUtI2jxtqmSB4OvDJylbeypVF3gG40EU2aAGXYUsuDzQ4LU9/WHAHwBvM1Nxe5oMWwAAAAASUVORK5CYII=');
}

.rdm-table {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABCSURBVDhPYxhwwAil/0NpUgEj3ICGhgYok4EBxEbmgwC6GJTNyATmUQAo9gKUxjAAm4FY1VDshdEwGExhMFCAgQEA0X0WCFnIcyUAAAAASUVORK5CYII=');
}

.rdm-active {
  border-color: #bbb !important;
  background-color: #e5e5e5 !important;
  opacity: 1 !important;
}

.rdm-link-editor {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 14px;
}

.rdm-link-editor__button {
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  padding: 3px 8px;
  height: auto;
  cursor: pointer;
}

.rdm-link-editor__button_paste {
  border-color: #e4e4e3;
}

.rdm-link-editor__button_paste:hover {
  border-color: #d6d6d6;
}

.rdm-link-editor__button_cancel {
  padding: 3px 2px;
}

.rdm-link-editor__button_cancel:hover {
  text-decoration: underline;
}

.rdm-link-editor .rdm-link-editor__link-text-input,
.rdm-link-editor .rdm-link-editor__link-href-input {
  height: 24px;
  width: 120px;
}

.rdm-color-picker {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 14px;
}

.rdm-color-picker__button {
  width: 24px;
  height: 24px;
  border-color: #ddd !important;
  background-color: #f7f7f7 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.rdm-color-picker__button:hover {
  border-color: #bbb !important;
  background-color: #e5e5e5 !important;
  opacity: 1 !important;
}

.rdm-color-picker__button_red {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABkSURBVDhPYxg84D8DgyQQTwXi/wRwIRAzQrUhAFBwJRA/gyrCh18C8XSoNoRJIEkokygA1AjWywTmUQBGDRhsBkwB4jcQJl7wA4jnQ5hIAJiKGIG4GJSgCOC1QIyZlAcIMDAAAGf2Rj6B6mrgAAAAAElFTkSuQmCC');
}

.rdm-color-picker__button_green {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABsSURBVDhPYxhwwAilGRjq+ZiB5E4gdgbzcYOzQGzH0PjpG4jDBCKg4BwQO0KYeIEBEIPUggGyAXpAjMzHBUAuVYcwidOAF4waMNgMAKWwfxAmXgBScwvCRDUAlITvQZh4wV0gNoMwBx4wMAAAP34NVmlX8b4AAAAASUVORK5CYII=');
}

.rdm-color-picker__button_blue {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABoSURBVDhPYxhwwAilGRjU/oPYG4DYD8zHDfYCsSvDLcb/IA4TiICCtUDsCWHiBfZAvAjCRHUB2ESiwS1GsF5kF5AFRg0YbAa0A/FzCBMv+AXE8yFMVANqgXgHhIkXHATiZAhz4AEDAwAMyA9Oi/axAwAAAABJRU5ErkJggg==');
}

.rdm-color-picker__button_lime {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABsSURBVDhPYxhwwAilGRg2TxEBkieAWBnMxw1OArELg2/OFxCHCURAwTEgVoIw8QITID4LYaIaoArECBfhBsxArAZhohpAFhg1YLAZcAaIf0OYeME/IL4HYaIaYAfE5yBMvOASEFtCmAMPGBgAuTQNCjF1vyMAAAAASUVORK5CYII=');
}

.rdm-color-picker__button_yellow {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABtSURBVDhPYxhwwAilGf7fYOABUoeA2BAsgBucAWJHRg2GLyAOE4iAgrNArA9h4gUgC0BqwQDZADUgRubjAsxADFILBsRowAtGDRhsBtwG4n8QJl4AUnMPwkQ1wByI70KYeMFlILaEMAceMDAAACr3DThDRMpuAAAAAElFTkSuQmCC');
}

.rdm-color-picker__button_orange {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABsSURBVDhPYxhwwAilGf7PCmMGUruB2BEsgBvcA2JrxrRVL0AcJhABBXuB2B7CxAsUgfgwhIlqAEgzMh8XALlaBcIkTgNeMGrAYDPgDBD/hjDxgn9AfAfCRDXADojPQZh4wV0gNocwBx4wMAAAXcYOHwBVpFMAAAAASUVORK5CYII=');
}

.rdm-modal {
  position: fixed;
  top: 200px;
  left: 40%;
  transform: translate(-50%, 0);
  background-color: #f6f6f6;
  border: 1px solid #e4e4e3;
  border-radius: 2px;
  z-index: 10000;
  box-shadow: #e4e4e3 1px 1px 3px;
  padding: 10px;
}

.rdm-table-editor {
  width: auto;
  height: auto;
}

.rdm-modal__close {
  position: absolute;
  top: -28px;
  right: -20px;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
}

.rdm-modal__close:hover {
  color: #999;
}

.rdm-modal__buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.rdm-modal__button {
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  padding: 5px 8px;
  height: auto;
  cursor: pointer;
}

.rdm-modal__button_paste {
  background-color: #00b394;
  color: #fff;
}

.rdm-modal__button_paste:hover {
  background-color: transparent;
  border-color: #00b394;
  color: #00b394;
}

.rdm-modal__button_cancel {
  color: #00b394;
  background-color: transparent;
}

.rdm-modal__button_cancel:hover {
  text-decoration: underline;
}

.rdm-modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.rdm-modal__table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rdm-modal__table-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rdm-modal__table-cell {
  width: 150px;
}

.rmd-modal__table-add-row, .rmd-modal__table-add-column {
  cursor: pointer;
  border-color: #00b394aa;
  background-color: transparent;
  color: #00b394aa;
}

.rmd-modal__table-add-row:hover, .rmd-modal__table-add-column:hover {
  border-color: #00b394aa;
  background-color: #00b394aa;
  color: #fff;
}

.rmd-modal__table-remove-row {
  cursor: pointer;
  background-color: transparent;
  border-color: #ed5666aa;
  color: #ed5666aa;
}

.rmd-modal__table-remove-row:hover {
  background-color: #ed5666aa;
  border-color: #ed5666aa;
  color: #fff;
}
